* {
	/*font-family: 'Space Mono', monospace;
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;*/
	/*{cursor: url(http://ani.cursors-4u.net/cursors/cur-13/cur1150.ani),
	url(http://ani.cursors-4u.net/cursors/cur-13/cur1150.png), auto !important}*/
}

html {
	max-height: 100%;
	max-width: 100%;
}
body {
	max-height: 100%;
	max-width: 100%;
	position: relative;
	margin: auto;
}

/* --------------------------------------------------- */
/*                <p> flavors text info                */
/* --------------------------------------------------- */

h1{
	font-family: 'Space Mono', monospace;
	color: #000000;
	text-align: center;
	font-size: 18px;
	line-height: 18px;
	margin: 0;
}

p {
	font-size: 12pt;
	font-family: 'Space Mono', monospace;
	width: 100%;
	height: 100%;
	color: #000000;
	margin: 0 0 0 0;
	text-align:center;
}

p#plat_prompt {
	position: relative;
	text-align: left;
	font-size: 18px;
	line-height: 18px;
	line-height: normal;
}

p#plat_answer {
	font-weight: bold;
	font-size: 20px;
	background-color: #FF745F;
	color: black;
	margin: auto;
	font-style: italic;
	/*border: 10px solid #721B6F;
	width: calc(100% - 20px);*/
}

p#magic8ball_answer {
	font-weight: bold;
	font-size: 20px;
	background-color: #FF745F;
	color: black;
	margin: auto;
	font-style: italic;
	/*border: 10px solid #721B6F;
	width: calc(100% - 20px);*/
}

p#cow {
	font-size: 10pt;
	font-family: 'Courier New', monospace;
	text-align: center;
	font-weight: normal;
	margin: 0 !important
	padding: 0;
}

span#cowsay_output {
	font-size: 10pt;
	font-family: 'Courier New', monospace;
	text-align: center;
	font-weight: normal;
	margin: 0 !important;
}

/* --------------------------------------------------- */
/*                   icon image info                   */
/* --------------------------------------------------- */

figure {
	display: inline-block;
	text-align: center;
	margin: 0 0 0 0;
	z-index: 1;
	cursor: pointer;
	color: black;
}
figure figcaption {
	font-family: 'Space Mono', monospace;
	text-align: center;
	font-size: 12px;
	z-index: 1;
	line-height: 12px;
}
figure:hover {
	color: white;
}

/* --------------------------------------------------- */
/*                background image info                */
/* --------------------------------------------------- */
#bg {
	position: fixed;
	background-color: #008080;
	width: 100%;
	height: 100%;
	user-select: none;
	z-index: 0;
}
#bg img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 24px;
	margin: auto;
	max-width: 75%;
	max-height: 75%;
	user-select: none;
	z-index: 0;
}

/* --------------------------------------------------- */
/*                 projects table info                 */
/* --------------------------------------------------- */
table {
	font-family: 'Space Mono', monospace;
	border-collapse: collapse;
	width: 100%;
	background-color: #DF576C;
	user-select: none;
}

th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 4px;
	font-size: 14px;
	font-weight: bold;
	background-color: #DF576C;
	cursor: pointer;
}

td {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 2px;
	font-size: 14px;
	cursor: pointer;
}

tr:nth-child(even) {
	background-color: #FF745F;
	font-size: 12px;
}


/* --------------------------------------------------- */
/*               Start menu and taskbar                */
/* --------------------------------------------------- */
.OS {
	position: fixed;
	right: 0px;
	bottom: 0px;
	width: calc(100% - 100px);
	background-color: #FF745F;
	margin: auto;

	padding: 4px;
	font-size: 16px;
	line-height: 24px;
	font-family: 'Space Mono', monospace;
	text-align: right;
	font-weight: bold;
	color: #000000;

	border: none;
	user-select: none;
	z-index: 12;
}

.startbutton {
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 92px;
	background-color: #FF745F;
	margin: 0;

	padding: 4px 0px 4px 4px;
	font-size: 16px;
	line-height: 20px;
	text-align: left;
	font-family: 'Space Mono', monospace;
	font-weight: bold;
	color: #000000;

	border: 2px outset #EC6760;
	cursor: pointer;
	user-select: none;
	z-index: 12;
}

/* The container <div> - needed to position the dropup content */
.dropup {
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 92px;
	background-color: #FF745F;
	margin: 0;

	z-index: 12;
	user-select: none;
	border: 2px solid black;
	border-width: 0px 2px 0px 0px;
}

/* Dropup content (Hidden by Default) */
.dropup-OS {
	position: relative;
	transform-origin: 0 0;
	transform: rotate(-90deg);
	left: 0px;
	bottom: -4px;
	border:solid #EC6760;
	border-width: 4px 4px 4px 4px;
	margin: auto;

	display: none;
	font-weight: bold;
	font-family: 'Space Mono', monospace;
	font-size: 18px;
	color: black;
	background-color: #FF745F;
	width: 540px;
	text-align: left;
	z-index: 12;
	user-select: none;
}

span#clock {
	font-family: 'Space Mono', monospace;
	padding: 8px 6px 8px 6px;
	/*padding: 6px 6px 6px 6px;*/
	font-size: 12px;
	line-height: 12px;
	position: relative;
	top: 0px;
	right: 0px;
	cursor: default;
	border: 2px #555555 solid;
	float: right;
	margin: 0;
	border: 2px solid #EC6760;
}

/* Dropup content (Hidden by Default) */
.dropup-content {
	display: none;
	position: absolute;
	bottom: 32px;
	left: 34px;
	margin: auto;
	background-color: #FF745F;
	width: 220px;
	height: 540px;
	border:solid #EC6760;
	border-width: 4px 4px 4px 4px;
	user-select: none;
}

/* Links inside the dropup */
.dropup-content a {
	text-align: left;
	color: black;
	padding: 2px 16px;
	text-decoration: none;
	display: block;
	font-family: 'Space Mono', monospace;
	font-weight: bold;
	background-color: #FF745F;
	font-size: 16px;
	cursor: pointer;
	user-select: none;
}

/* Change color of dropup links on hover */
.dropup-content a:hover {
	color: white;
	background-color: #721B6F;
}

/* Show the dropup menu on hover */
.dropup:hover .dropup-content {
	display: block;
	background-color: #FF745F;
}

.dropup:hover .dropup-OS {
	display: block;
}

/* Change the background color of the dropup button when the dropup content is shown */
.dropup:hover .startbutton {
	color: white;
	background-color: #721B6F;
}

/* --------------------------------------------------- */
/*                 pop up window info                  */
/* --------------------------------------------------- */
#windowtopbar {
	cursor: move;
	background-color: #721B6F;
	border: 2px solid #d3d3d3;
	text-align: left;
	font-family: 'Space Mono', monospace;
	color: #FFFFFF;
	font-size: 16px;
	line-height: 16px;
	margin: none;
	padding: 6px 4px 6px 4px;
}

.iframe_content {
	height: calc(100% - 36px); /* minus header minus padding */
	width: calc(100% - 4px); /* minus header minus padding */
	text-align:center;
	z-index: inherit;
	overflow-y: auto;
}

#window_content {
	position: relative;
	height: calc(100% - 32px - 32px); /* minus header minus padding */
	padding: 16px;
	text-align:center;
	z-index: inherit;
	overflow-y: auto;

	/* -webkit-overflow-scrolling: touch;

	overflow-y: scroll;
  -webkit-overflow-scrolling: touch; */
}

/* --------------------------------------------------- */
/*                     Drag resize                     */
/* --------------------------------------------------- */
.drsElement {
	position: fixed;
	background: #FF745F;
	border: 2px solid #d3d3d3;
	min-height: 200px;
	min-width: 300px;
	z-index: 4;
	margin: auto;
}

/*
The main mouse handle that moves the whole element.
You can apply to the same tag as drsElement if you want.
*/
.drsMoveHandle {
	background-color: #721B6F;
	cursor: move;
	margin: none;
	padding: none;
	border: none;
	height: 32px;
}

/*
The DragResize object name is automatically applied to all generated
corner resize handles, as well as one of the individual classes below.
*/
.dragresize {
	position: absolute;
	width: 24px;
	height: 24px;
	opacity: 0.0;
}

/*
Individual corner classes - required for resize support.
These are based on the object name plus the handle ID.
*/
.dragresize-tl {
	top: -16px;
	left: -16px;
	cursor: nw-resize;
}
.dragresize-tm {
	top: -10px;
	left: 50%;
	margin-left: -5px;
	cursor: n-resize;
}
.dragresize-tr {
	top: -16px;
	right: -16px;
	cursor: ne-resize;
}

.dragresize-ml {
	top: 50%;
	margin-top: -5px;
	left: -10px;
	cursor: w-resize;
}
.dragresize-mr {
	top: 50%;
	margin-top: -5px;
	right: -10px;
	cursor: e-resize;
}

.dragresize-bl {
	bottom: -16px;
	left: -16px;
	cursor: sw-resize;
}
.dragresize-bm {
	bottom: -10px;
	left: 50%;
	margin-left: -5px;
	cursor: s-resize;
}
.dragresize-br {
	bottom: -16px;
	right: -16px;
	cursor: se-resize;
}

#drag-1, #drag-2 {
	width: 25%;
	min-height: 6.5em;
	margin: 10%;
	background-color: #29e;
	color: white;
	border-radius: 0.75em;
	padding: 4%;
	touch-action: none;
	user-select: none;
	-webkit-transform: translate(0px, 0px);
	transform: translate(0px, 0px);
}

/* --------------------------------------------------- */
/*                      magic 8-ball                   */
/* --------------------------------------------------- */
div.eight-ball {
	position: relative;
	background-color: black;
	border: 1px solid black;
	border-radius: 50%;
	width: 300px;
	height: 300px;
	margin: 0 auto;
	margin-bottom: 30px;
	margin-top: 30px;
}

div.answer {
	background-color: #333;
	border: 1px solid #333;
	border-radius: 50%;
	width: 50%;
	height: 50%;
	margin: 25% auto;
}

p#magic8ball_answer {
	position: relative;
	text-align: center;
	color: lightblue;
	font-size: 60px;
	top: 20%;
	left: 10%;
	padding: 0;
	margin: 0;
	width: 70%;
	height: 50%;
	background-color: inherit;
}

/* youtube video */
.youtube_container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
